<!DOCTYPE html>
<html>
<head>
  <title>Folha de Caixa</title>
  <%= stylesheet_link_tag "app" %>
  <%= stylesheet_link_tag "dashboard" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "utils" %>
  <%= javascript_include_tag "document" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="app">
		<div class="header">
			Folha de Caixa
		</div>
		<div class="timeslider">
			<div class="previousday">
				<%= link_to image_tag("left.png"), :controller => "app", :action => "dashboard", :id => (@date-1).to_s %>
			</div>
			<div class="currentday">
				<%= I18n.l(@date, :format => "%A, %d de %B de %Y")%>
			</div>
			<div class="nextday">
				<%= link_to image_tag("right.png"), :controller => "app", :action => "dashboard", :id => (@date+1).to_s %>
			</div>
		</div>
		<div class="workarea">
			<div class="menu">
				<div class="menuitem">
					<span class="menuitem">
						Visão Geral
					<span>
				</div>
				<div class="menuitem">
					<span class="menuitem">
						Cheques
					<span>
				</div>
				<div class="menuitem">
					<span class="menuitem">
						TPAs
					<span>
				</div>
			</div>
			<div class="content">
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
